.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .form{
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: solid 1px #e5e2e2;
    padding: 10px;
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 28%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 100%, 30%);
}